/* HeroSlider.css */

.hero-slider-container {
    position: relative;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(45deg, #6f42c1, #830343,#6f42c1); /* Gradient background */
  }
  
  
  
  

  /* Animation for background */
.hero-slider-container::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 10%;
  height: 80%;
  border-radius: 50%; /* Make it a circle */
  background: linear-gradient(45deg, #6f42c1, #e91e63); /* Gradient animation colors */
  animation: backgroundAnimation 20s linear infinite; /* Adjust animation duration as needed */
}

@keyframes backgroundAnimation {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  100% {
    transform: translateY(-100%) rotate(360deg);
  }
}